body{
    background-color:rgb(248, 171, 70)
}


#carrucel{
    height:30%;
    background-color: black;
    margin-top: 60px;
    margin-bottom: 60px
    
}

.card{
    border: 4px  black;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 30px;
    
   
}

.card img{
    border-top-right-radius: 30px;
}

#footer{
    background-color: black;
    margin-top: 50px;
    text-align: center;
    border: 1px solid black;
    color: white;
    margin-bottom: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}

